In [2]:
import pandas as pd
import numpy as np

In [ ]:
# Read Sales CSV
df_sales = pd.read_csv("sales_10000.csv")

In [18]:
# Create random ratings: 1.0 to 5.0
df_sales["sales_rating"] = (
    np.clip(
        np.random.normal(loc=4.3, scale=0.5, size=len(df_sales)),
        1, 5
    )
    .round(1)
)

In [ ]:
# Read Products CSV 
df_products = pd.read_csv("products.csv")

In [ ]:
# Read Customer CSV 
df_customer = pd.read_csv("customers.csv")

In [25]:
# Sales + Products + Customer Merge
df_merged = df_sales.merge(df_products, on="product_id", how="left") \
                    .merge(df_customer, on="customer_id", how="left")

In [ ]:
# Shows the first 5 rows of the merged dataframe
df_merged.head()

,sale_id,product_id,customer_id,sales_date,discount,final_price,sales_rating,product_name,product_price,customer_name,customer_gender
0,1,15,1,2024-09-21,0.20,239.20,4.4,14k Gold Stud Earrings,299,James Smith,Male
1,2,14,70,2024-06-05,0.05,94.05,3.8,Silver Stud Earrings,99,Daniel Martinez,Male
2,3,15,90,2024-12-21,0.10,269.10,4.8,14k Gold Stud Earrings,299,Lucas Johnson,Female
3,4,3,66,2024-07-05,0.05,474.05,4.9,14k Gold Cuban Link Chain 8mm,499,James Lee,Male
4,5,13,105,2024-07-05,0.05,521.55,4.4,14k Gold Cuban Link Bracelet 8mm,549,Emma Brown,Female

In [29]:
# Export merged dataframe to CSV
df_merged.to_csv("sales.csv", index=False)